<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949852237420-3og00goro5bpv3d5clg2hr8l7sr6ho2f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949852237420-3og00goro5bpv3d5clg2hr8l7sr6ho2f</string>
	<key>API_KEY</key>
	<string>AIzaSyAWKb6FC3bLntEvzrCzwMo8_A5bRHfcoi8</string>
	<key>GCM_SENDER_ID</key>
	<string>949852237420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.wingitapp.wingit4</string>
	<key>PROJECT_ID</key>
	<string>wingit-staging-83e2d</string>
	<key>STORAGE_BUCKET</key>
	<string>wingit-staging-83e2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949852237420:ios:98966d2272605988d2f249</string>
</dict>
</plist>